.sidebar{
    max-width:250px;
    min-width: 250px;
    background-color: #e6e6e6;
    text-align: left;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    margin-top: 0px;
}
.container{
    margin-top: 40px;
    margin-left: 20px;
}
a{
    font-size: 35px;
    font-weight: bold;

}