.answer_entry_box_quiz{
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 15px;
    padding:1.5%;
    width:97%;
    height: 100%;
    margin-left: 1%;
    background-color: #c3decf;
    cursor: pointer;
}
.answer_entry_container_quiz{
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
    height:20%;
    width:100%;
}